@{
	ViewData["Title"] = "Сапер";
}

<div class="myContainer">
	<div class="gameMenu">
		<div class="minesCount"></div>
		<button class="newGameBtn"></button>
	</div>
	<div class="gameField"></div>
</div>